<ion-view>



    <ion-content class="has-footer has-header">
        <div class="list">

            <label class="item item-input">
                <span class="input-label">Date de la visite</span>
                  <input type="date" />
            </label>

            <label class="item item-input">
                <span class="input-label">Heure</span>
                <input type="time" />
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Questions à poser</span>
                <textarea  rows="5" cols="5" placeholder="Questions à poser"></textarea>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Médicaments pris actuellement</span>
                <textarea  rows="5" cols="5" placeholder="Médicaments pris actuellement"></textarea>
            </label>

        </div>
    </ion-content>

    <ion-footer-bar align-title="center" class="bar bar-footer bar-stable">
        <div class="buttons">
            <a href="#/tab/actions" class="button">Sauvergarder</a>
        </div>
        <div class="title">

        </div>
        <div class="buttons">
            <button class="button">Abandonner</button>
        </div>
    </ion-footer-bar>

</ion-view>
