<ion-view>
    <ion-content>
        <div class="list">
            <div class="item item-divider text-center">
                <b>TABLEAU DE BORD</b>
            </div>

            <div class="row">
                <div class="col text-center">100%</div>
                <div class="col text-center">100%</div>

            </div>
            <div class="row">

                <div class="col item-image"><img src="../res/img/_demo_graph.jpg"></div>
                <div class="col item-image"><img src="../res/img/_demo_graph.jpg"></div>

            </div>
            <div class="row">
                <div class="col text-center">Tension Artérielle</div>
                <div class="col text-center">Observance Plan</div>

            </div>

            <div class="card ">
                <div class="item item-text-wrap">
                    Bravo Ian!<br /> Vos résultats sont conformes aux objectifs.<br /> Continuez ainsi.
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>
