<ion-view>
    <ion-content class="has-footer has-header">
        <ion-list>
            <ion-item ng-repeat="item in items" item="item" class="item-borderless" ng-class="{'anim-row-delete' : item.hideIt}">
                <div class="card no-margin-y">
                    <div class="item item-divider item-icon-right">
                        Date: {{item.date}} {{item.time}} Niveau gêne: {{item.discomfortLevel}}
                         <i class="icon ion-edit" ng-if="itemStatus==STATUS_EDIT" ng-click="onRowEditClicked(item,$index)"></i>
                         <i class="icon ion-android-delete" ng-if="itemStatus==STATUS_DELETE" ng-click="item.hideIt = true; onRowDeleteClicked(item,$index)"></i>
                    </div>
                    <div class="item item-text-wrap">
                        {{item.descriptSymptom}}
                    </div>
                    <div class="item item-text-wrap">
                        {{item.descriptHappened}}
                    </div>

                </div>
            </ion-item>
        </ion-list>
    </ion-content>

    <ion-footer-bar class="bar bar-footer bar-stable">
        <div class="button-bar">
            <a class="button" ng-click="onFooterEditClicked()">Editer</a>
            <a class="button" ng-click="onFooterDeleteClicked()">Détruire</a>
            <a class="button" href="#/tab/journalAddEdit">Nouveau</a>
        </div>
    </ion-footer-bar>
</ion-view>
