<ion-view>
    <ion-content class="has-footer has-header">
      <ion-list>
          <ion-item ng-repeat="item in items" class="item-borderless no-padding-y">

              <table ng-style="item.treeLevel > 0 &&{'margin-left':(10*item.treeLevel)+((item.treeLevel-1)*20)+'px'}">

                <tr>
                  <td ng-class="{'msg-table-row-tree-a1':item.treeLevel != 0}">

                  </td>
                  <td class="sm-padding-top">
                    <b><i ng-class="item.icon" > {{item.title}}, {{item.date}}</i></b>
                  </td>

                </tr>

                <tr>
                  <td ng-class="{'msg-table-row-tree-a2': items[$index+1] && item.treeLevel != 0 && items[$index+1].treeLevel==item.treeLevel}">

                  </td>
                  <td class="text-warp">
                      {{item.descript}}
                  </td>
                </tr>

              </table>
          </ion-item>
      </ion-list>
    </ion-content>

    <ion-footer-bar class="bar bar-footer bar-stable">
        <div class="button-bar">
            <a class="button" href="#/tab/messagesAddEdit">Nouveau Message</a>
        </div>
    </ion-footer-bar>
</ion-view>
