<ion-tabs class="tabs-icon-top tabs-positive">

    <ion-tab title="Actions du jour" icon="ion-flash" href="#/tab/actions">
        <ion-nav-view name="actions-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Journal" icon="ion-clipboard" href="#/tab/journal">
        <ion-nav-view name="journal-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Mes messages" icon="ion-email" href="#/tab/messages">
        <ion-nav-view name="messages-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Mon TdB" icon="ion-podium" href="#/tab/dashboard">
        <ion-nav-view name="dashboard-tab" ></ion-nav-view>
    </ion-tab>
</ion-tabs>
